.home-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 700px;
  padding: 0 var(--space-4);
}

.home-subtitle {
  font-size: 1.5rem;
  margin-bottom: var(--space-7);
  opacity: 0.85;
}

.home-cta {
  background-color: var(--main-txt);
  background-image: var(--bg-pattern);
  color: var(--main-bg);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 700;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.home-cta:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

@media screen and (max-width: 480px) {
  .home-subtitle {
    font-size: 1.2rem;
  }
}