.language-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 8px;
}

.language-btn {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: all 0.25s ease;
  user-select: none;
  width: 40px;
}

.language-btn img {
  width: 100%;
}

.language-btn:hover {
  opacity: 0.8;
}

.language-btn.active {
  transform: scale(1.4);
}

@media (max-width: 480px) {
  .language-container {
    gap: 0.3rem;
  }

  .language-btn {
    font-size: 0.75rem;
  }
}