.language-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-right: 8px;
}

.language-btn {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  transition: all 0.25s ease;
  user-select: none;
  width: 44px;
}

.language-btn img {
  width: 100%;
}

.language-btn:hover {
  opacity: 0.8;
}

.language-btn.active {
  background-color: var(--main-txt);
  background-image: var(--bg-pattern);
}

@media (max-width: 480px) {
  .language-container {
    gap: 0.3rem;
  }

  .language-btn {
    font-size: 0.75rem;
  }
}