.section-title {
  color: var(--main-txt);
  font-family: 'Rubik Mono One', sans-serif !important;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 40px auto;
  margin-bottom: var(--space-4);
  max-width: 1080px;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .section-title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 2.1rem;
  }
}