.section-title {
  color: var(--main-txt);
  font-family: 'Rubik Mono One', sans-serif !important;
  font-size: 2rem;
  line-height: 1.2;
  margin: 40px auto;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 1.8rem;
  }
}