:root {
  --card-toggle-size: 28px;
}

.project-card {
  align-items: center;
  border-radius: 12px;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-4px);
}

.project-header {
  background-image: var(--bg-pattern);
  background-color: var(--main-bg);
  border-radius: 12px;
  color: var(--main-txt);
  font-size: 1rem;
  font-weight: 600;
  padding: var(--space-3);
  text-align: center;
  width: 100%;
}

.project-title {
  align-items: flex-start;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: space-between;
  width: 100%;
}

.project-title h3 {
  margin-bottom: 20px;
}

.card-toggle {
  align-items: center;
  background-color: var(--main-txt);
  background-image: var(--bg-pattern);
  border: none;
  border-radius: 50%;
  color: var(--main-bg);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 1.8rem;
  height: var(--card-toggle-size);
  justify-content: center;
  margin-left: var(--space-2);
  transition: transform 0.5s ease;
  width: var(--card-toggle-size);
}

.card-toggle.expanded {
  transform-origin: center;
  transform: rotate(180deg);
}

.project-thumb {
  margin: auto;
  max-width: 240px;
}

.project-thumb img {
  border-radius: 8px;
  width: 100%;
}

.project-body {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  overflow: hidden;

  max-height: 0;
  opacity: 0;
  padding: 0 var(--space-3);

  transition:
    max-height 0.5s ease,
    opacity 0.4s ease,
    transform 0.3s ease,
    padding 0.3s ease;
}

.project-body.expanded {
  max-height: fit-content;
  opacity: 1;
  padding: var(--space-3);
}

.project-description {
  font-size: 0.95rem;
  text-align: left;
}

.project-meta {
  align-items: center;
  display: flex;
  gap: var(--space-3);
  width: 100%;
  justify-content: center;
}


.project-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  justify-content: left;
  margin: var(--space-2) auto;
}

.stack-item {
  background-color: var(--main-txt);
  background-image: var(--bg-pattern);
  border-radius: 4px;
  box-shadow: var(--shadow-light);
  color: var(--main-bg);
  font-size: 0.6rem;
  font-weight: 600;
  opacity: 0.9;
  padding: 2px 4px;
}

.project-actions {
  display: flex;
  gap: var(--space-3);
  margin-top: var(--space-4);
}