.drawer-menu {
  background: var(--main-bg);
  height: 100vh;
  opacity: 0;
  padding: var(--space-8) var(--space-5);
  position: fixed;
  top: var(--navbar-height);
  right: 0;
  width: 100%;
  transform: translateX(100%);
  transition:
    transform 0.4s ease,
    opacity 0.3s ease;
  z-index: 3;
}

.drawer-menu.open {
  transform: translateX(0);
  opacity: 1;
}

.drawer-links {
  display: flex;
  flex-direction: column;
}