.social-network-link {
  border-radius: 8px;
  color: inherit;
  margin: 0;
  transition: all 0.3s;
}

.social-network-link:hover {
  opacity: 0.3;
  transform: scale(1.1);
}

.social-network-image {
  background-color: var(--main-txt);
  border-radius: 8px;
  border: 1px solid var(--main-txt);
  width: 32px;
}

@media screen and (max-width: 480px) {
  .social-network-link {
    margin-bottom: var(--space-4);
  }
}