:root {
  --shadow-left: -4px 0px 16px 4px var(--main-txt);
  --shadow-right: 4px 0px 16px 4px var(--main-txt);
}

.divider-container {
  align-items: center;
  display: flex;
  height: var(--navbar-height);
  justify-content: center;
  width: 100%;
}

.divider-line {
  background-color: var(--main-txt);
  width: 36%;
  height: 1px;
}

.divider-line.left {
  box-shadow: var(--shadow-left);
}

.divider-line.right {
  box-shadow: var(--shadow-right);
}

.logo-icon {
  background-color: var(--main-bg);
  border: 1px solid var(--main-txt);
  border-radius: 50%;
  box-shadow: 0px 0px 12px 4px var(--main-txt);
  height: 48px;
  margin: 20px 0;
  padding: 4px;
}