:root {
  --navbar-height: 72px;
}

.nav-container {
  align-items: center;
  box-shadow: var(--shadow-deep);
  display: flex;
  height: var(--navbar-height);
  justify-content: space-between;
}

.bar-links {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 480px) {
  .bar-links {
    display: none !important;
  }
}